In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('data/BatBowlStats.xlsx')

In [20]:
df[df['Data Type'] == 'Bat']

,Format,Data Type,Bat_Format,Bat_Mat,Bat_Inns,Bat_NO,Bat_Runs,Bat_HS,Bat_Ave,Bat_BF,...,Bowl_Runs,Bowl_Wkts,Bowl_BBI,Bowl_BBM,Bowl_Ave,Bowl_Econ,Bowl_SR,Bowl_4w,Bowl_5w,Bowl_10w
0,Aakash Chopra Career Stats,Bat,Tests,10.0,19,0,437,60,23.00,1263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aakash Chopra Career Stats,Bat,FC,162.0,266,27,10839,301*,45.35,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aakash Chopra Career Stats,Bat,List A,65.0,61,7,2415,130*,44.72,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aakash Chopra Career Stats,Bat,T20s,21.0,19,1,334,72*,18.55,366,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Aamer Azmat Career Stats,Bat,List A,11.0,11,0,162,45,14.72,220,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34449,Zunaed Siddique Career Stats,Bat,ODIs,54.0,53,1,1196,100,23.00,1753,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34450,Zunaed Siddique Career Stats,Bat,T20Is,7.0,7,0,159,71,22.71,108,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34451,Zunaed Siddique Career Stats,Bat,FC,152.0,264,13,8785,193,35.00,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34452,Zunaed Siddique Career Stats,Bat,List A,188.0,186,4,5183,136,28.47,7086,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34453,Zunaed Siddique Career Stats,Bat,T20s,78.0,77,3,1489,89*,20.12,1225,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN